################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/RipplerES.SqlServer.Database/bin/Debug
/RipplerES.SqlServer.Database/obj/Debug
